<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icono_app"
        android:supportsRtl="true">
        <activity
            android:name=".Administrador"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".MostrarCaja"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />
        <activity
            android:name=".IngresarElemento"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IniciarSesion"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />
        <activity
            android:name=".EscanearCodigo"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />
        <activity
            android:name=".MostrarElementos"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />
        <activity
            android:name=".IngresarDatosTecnico"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />
        <activity
            android:name=".OrdenarCajas"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ScannerDeCodigoDeBarras.NoActionBar" />

        <service android:name=".ServicioEstadoCuenta" />
    </application>

</manifest>